@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    font-family: 'Lato', sans-serif;
}
/* project List (no projects) */
.noproject-wrapper {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 80px 50px;
    border: 6px solid #9e9e9e;
    border-style: dashed;
}

.noproject-wrapper h3{
    padding: 10px;
    margin-bottom: 50px;
}

.section-stats. .card-panel{
    margin: 8px;
}
.section-stats h1{
    font-size: 4vw;
    margin: 15px 0px;
}